.DS_Store/
logs/
data/
datatools/
__pycache__/
.vscode/
scripts/
datasets/
cuda_kernel_rasterize/build/
notes.txt

# submodules
cuda_kernel_rasterize/dist
cuda_kernel_rasterize/wireless_rasterizer.cpython-313-x86_64-linux-gnu.so
cuda_kernel_rasterize/wireless_rasterizer.egg-info
fused-ssim/dist
debug_log.txt
build/
wireless_rasterizer.egg-info
cuda-keyring_1.0-1_all.deb
output_log.txt

peek_ply.py
cuda_test.py
visualize_ptcloud.py
hyperparameter_tuning.py
point_cloud/
wgs_rfspm_optimization_20250417_123236.db

nohup.out

# results folder
results_??_??/